{% extends 'login-figma.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<body>
  <main id="main">
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
            <h1> Dealer Registration</h1>
            <h2>We are team of talented designers making websites with Bootstrap</h2>
            <div class="d-flex justify-content-center justify-content-lg-start"></div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-up" data-aos-delay="200">
            <div class="img-fluid" alt="" style="height: 300px; width: 550px;">
              <!--            Login page code here-->
              <div class="login-box" style="margin-top: 10px;">
                <div class="container_2" style=" margin-right: 150px;"> {% if text %} <div style="height: 20px; margin-top: -35px;">
                    <p style="font-size: 14px; color: red; text-align: center;">Invalid Username or Password!</p>
                  </div> {% endif %} <form method="POST">
                    <div class="input-field">
                      <input type="text" name="username" style="font-size: 14px;" placeholder="Username" required>
                    </div>
                  <div class="input-field">
                      <input type="text" name="username" style="font-size: 14px;" placeholder="Email-Id" required>
                    </div>
                    <div class="input-field">
                      <input class="pswrd" type="password" name="password" style="font-size: 14px;" placeholder="Password" required>
                      <span class="show">SHOW</span>
                    </div>
                  <div class="input-field">
                      <input type="password" name="password" style="font-size: 14px;" placeholder="Confirm Password" required>
                    </div>
                    <div class="button">
                      <div class="inner"></div>
                      <a href="{% url 'login' %}">
                        <button type="submit">REGISTER</button>
                      </a>
                    </div>
                    <div style="display: flex; color: white; font-family: Montserrat; font-size: 8px; gap:50px; cursor: pointer">
                      <a href="{% url 'login_get' %}">ALREADY HAVE AN ACCOUNT ? LOGIN</a>
                    </div>
                    <script>
                      var input = document.querySelector('.pswrd');
                      var show = document.querySelector('.show');
                      show.addEventListener('click', active);

                      function active() {
                        if (input.type === "password") {
                          input.type = "text";
                          show.style.color = "#1DA1F2";
                          show.textContent = "HIDE";
                        } else {
                          input.type = "password";
                          show.textContent = "SHOW";
                          show.style.color = "#111";
                        }
                      }
                    </script>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container">
        <!--        <div class="row" data-aos="zoom-in">-->
        <!--          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">-->
        <!--            <img src="static/assets/img/logo1.png" class="img-fluid" alt="">-->
        <!--          </div>-->
        <!--          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">-->
        <!--            <img src="static/assets/img/logo2.png" class="img-fluid" alt="">-->
        <!--          </div>-->
        <!--          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">-->
        <!--            <img src="static/assets/img/logo3.png" class="img-fluid" alt="">-->
        <!--          </div>-->
        <!--          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">-->
        <!--            <img src="static/assets/img/logo4.png" class="img-fluid" alt="">-->
        <!--          </div>-->
        <!--          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">-->
        <!--            <img src="static/assets/img/logo5.png" class="img-fluid" alt="">-->
        <!--          </div>-->
        <!--          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">-->
        <!--            <img src="static/assets/img/logo6.png" class="img-fluid" alt="">-->
        <!--          </div>-->
        <!--        </div>-->
      </div>
    </section>
    <!-- End Cliens Section -->
  </main>
  <!-- End #main -->
</body>

</html>

{% endblock %}